@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Yesteryear&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #df6951;
  --font-Volkhov: "Volkhov", "sans-serif";
  --font-Yesteryear: "Yesteryear", "sans-serif";
}

* {
  font-family: Poppins;
}

.herotext {
  font-family: Yesteryear;
  font-size: 158px;
}
h1 {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 71.04px;
  letter-spacing: 0; /* or normal */
  text-align: center;
}
