@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Yesteryear&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #df6951;
  --font-Volkhov: "Volkhov", "sans-serif";
  --font-Yesteryear: "Yesteryear", "sans-serif";
}

* {
  font-family: Poppins;
}

.btn {
  background-color: var(--color-primary);
  color: white;
  padding: 15px 35px;

  text-align: center;
  border-radius: 5px;
}
.hero-title {
  font-size: 58px;
  font-weight: 700;
  margin-left: 10%;
  color: white;
}

@media screen and (max-width: 640px) {
  .hero-title {
    font-size: 30px;
    color: rgb(36, 20, 1);
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 10%;
  }
}
@media screen and (min-width: 640px) {
  .hero-title {
    font-size: 30px;
    color: rgb(36, 20, 1);
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 10%;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 40px;
    color: blueviolet;

    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .hero-title {
    font-size: 45px;
    color: blue;

    width: 65%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 50px;
    color: brown;

    width: 65%;
    line-height: 67.91px;
  }
}
